{% block navbar %}

    <header>

        <nav style="display: flex; position: fixed; z-index: 1; width: 100%;" class="navbar navbar-expand-sm bg-body-tertiary">
            <div style="display: flex; justify-content: center;" class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span style="padding-inline: 150px;" class="btn btn-light dropdown-toggle"></span>
            </button>
            <div style="justify-content: center;" class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div style="text-align: center;" class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#presentacion">Presentación</a>
                <a class="nav-link" href="#habilidades">Habilidades</a>
                <a class="nav-link" href="#proyectos">Proyectos</a>
                </div>
            </div>
            </div>
        </nav>

    </header>

{% endblock navbar %}